<div class="question-title">
  <%= render_question_title question %>
</div>
<div class="question-choices">
  <% question.choices.each do |choice| %>
    <%= render_choice choice %>
  <% end %>
</div>

<div><%= add_choice_link(question) %></div>
