<div class="question-title">
  <%= render_question_title question %>
</div>
<div class="question-choices">
  <% question.choices.each do |choice| %>
    <%= render_choice(choice) if choice.persisted? %>
  <% end %>
</div>

<% unless question.choices.detect{|e| e.new_record?} %>
  <div><%= add_choice_link(question) %></div>
<% end %>
