<div class="survey-container">
  <h3><%= bc_heading_question(@question) %></h3>

  <h2>New Choice</h2>

  <%= simple_form_for [@question, @choice], html: {class: ''} do |f| %>
    <%= f.input :text, as: :string %>
    <div class="form-group">
      <%= f.submit nil, class: 'btn btn-default', data: {disable_with: 'Saving...'} %>
    </div>
  <% end %>
</div>
