<div class="survey-container">
  <%= link_to "Create A Survey", new_survey_path, class: 'btn btn-default btn-lg' %>
  <p></p>

  <%= render 'surveys/passcode_form' %>
</div>

<% if admin? %>
  <h3>Recent surveys</h3>
  <div>
    <% Survey.all.each do |survey| %>
      <%= render 'surveys/survey_overview', survey: survey %>
    <% end %>
  </div>
<% end %>
