<h2>Easily embed a survey on your site</h2>

<%= link_to "Create A Survey", new_survey_path, class: 'btn btn-default btn-lg' %>
<p></p>

<div class="panel panel-default">
  <div class="panel-heading">Have a passcode?</div>
  <div class="panel-body">
    <%= form_tag surveys_path, method: 'get' do %>
      <div class="form-group">
        <label>Enter passcode to see your surveys</label>
        <input type="text" name="passcode" id="" value="" />
      </div>
      <%= submit_tag "Go", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
<% if admin? %>
  <h3>Recent surveys</h3>
  <div>
    <% Survey.all.each do |survey| %>
      <%= render 'surveys/survey_overview', survey: survey %>
    <% end %>
  </div>
<% end %>
