<h2>Easily embed a survey on your site</h2>

<%= link_to "Create A Survey", new_survey_path, class: 'btn btn-default' %>

<h3>Recent surveys</h3>
<div>
<% Survey.all.each do |survey| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to survey.title, survey %>
    </div>
    <div class="panel-body">
      <%= render 'surveys/actions', survey: survey %>
    </div>
  </div>
<% end %>
</div>
