<script type="text/javascript" charset="utf-8">window.responseId = <%= @response.id %></script>

<div ng-controller='HomeCtrl'>
  <div>
    <div class="well">
      {{response}}
    </div>
  </div>

  <div response='response'>
    <div class='survey-title'><span class='label label-default'>Survey</span>: {{response.survey.title}}</div>
    <div class="questions">
      <div class="question" ng-repeat='question in response.questions'>
        <div class='question-title'><span class='label label-default'>{{question.kind}}</span> {{question.title}}</div>
        <div class='question-choices'>
          <div ng-repeat='choice in question.choices'>
            <div class='radio' ng-if="question.kind=='radio'">
              <label>
                <input type='radio' />
                {{choice.text}}
              </label>
            </div>

            <div class='checkbox' ng-if="question.kind=='check_box'">
              <label>
                <input type='checkbox' />
                {{choice.text}}
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

