<%= render 'response', response: @response %>

<p></p>
<% if admin? %>
  <div class="well">{{response.answer_bucket}}</div>
  <h3>Results</h3>
  <%= link_to "Export To CSV", survey_path(@response.survey, format: :csv), class: 'btn btn-default btn-sm' %>
  <%= link_to "View CSV as Text", survey_path(@response.survey, format: :txt), class: 'btn btn-default btn-sm' %>
<% end %>
