<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to survey_overview.title, survey_overview %>
  </div>
  <div class="panel-body">
    <%= render 'surveys/actions', survey_overview: survey_overview %>
  </div>
</div>
