<h1><%= @survey.title %></h1>

<div class="questions">
  <% @survey.questions.each_with_index do |question, i| %>
    <div class="question">
      <%= render_question question %>
    </div>
  <% end %>
</div>

<div>
<%= link_to "Add Question", new_survey_question_path(@survey) %>
</div>

<%= link_to "Home", root_path %>
