.top-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar {
  margin-bottom: 0;
}
.navbar-header {
  float: inherit;
  text-align: center;
  .logo {
    text-decoration: none;
  }
  border-bottom: 0;
  h1 {
    line-height: .9em;
    > small {
      border-bottom: 1px solid rgba(200, 200, 200, .5);
      padding-bottom:5px;
    }
  }
}
.flash-message.alert {
  border-radius: 0;
  padding: 5px;
  text-align: center;
}

