.question {
  padding: 10px;
  border: 1px dashed black;
  margin: 10px 0;
  position: relative;
}
.question-title {
  margin-bottom: 10px;
  color: #804518;
  position: relative;
  padding: 0;
  line-height: 140%;
  text-align: left;
  font-size: 1.3em;
}
.questions-choices {
  padding: 10px;
  font-size: 1.2em;
}

.question {
  .visible-on-hover {
    visibility: hidden;
  }
  &:hover .visible-on-hover {
    visibility: visible;
  }
}
